<h3>View Client-Contact Details</h3>
<div>
    <div>
        <label> <b>First Name: </b> </label> {{clientContact.firstName}}
    </div>
    <div>
        <label> <b>Last Name: </b> </label> {{clientContact.lastName}}
    </div>
    <div>
        <label> <b>Phone: </b> </label> {{clientContact.phone}}
    </div>
    <div>
        <label> <b>Email: </b> </label> {{clientContact.email}}
    </div>
    <div>
        <label> <b>Department: </b> </label> {{clientContact.department}}
    </div>
</div>