<h2>Sales List</h2>
<table class = "table table-success table-striped">
    <thead>
        <tr>
            <th>Sales Name</th>
            <th>Sales Data</th>
            <th>Status</th>
            <th>Observation</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let sale of sales" >
            <td> {{ sale.salesName }} </td>
            <td> {{ sale.salesData | date: 'yyyy-MM-dd' }} </td>
            <td> {{ sale.status }} </td>
            <td> {{ sale.observation }} </td>
            <td>
                <button (click) = "updateSale(sale.id)" class = "btn btn-info"> Update </button>
                <button (click) = "deleteSale(sale.id)" class = "btn btn-danger" style = "margin-left: 10px"> Delete </button>
                <button (click) = "saleDetails(sale.id)" class = "btn btn-info" style = "margin-left: 10px"> View </button>
            </td>
        </tr>
        <a routerLink="../addsale" routerLinkActive="active" class="nav-link">Add Sale</a>
    </tbody>
</table>
