<h2>Sales List</h2>
<table class = "table table-success table-striped">
    <thead>
        <tr>
            <th>Sales Name</th>
            <th>Sales Data</th>
            <th>Status</th>
            <th>Observation</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let sale of sales" >
            <td> {{ sale.salesName }} </td>
            <td> {{ sale.salesData | date: 'dd/MM/yyyy' }} </td>
            <td> {{ sale.status }} </td>
            <td> {{ sale.observation }} </td>
        </tr>
    </tbody>
</table>
