<br>
<h2>Suppliers</h2>
<br>
<table class = "table table-success table-striped">
    <thead>
        <tr>
            <th>Supplier Name</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let supplier of suppliers">
            <td>{{supplier.supplierName}}</td>
            <td>{{supplier.address}}</td>
            <td>{{supplier.phone}}</td>
            <td>{{supplier.email}}</td>
            <td>
                <button (click) = "updateSupplier(supplier.id)" class = "btn btn-info">Update</button>
                <button (click) = "deleteSupplier(supplier.id)" class = "btn btn-danger" style = "margin-left: 10px"> Delete </button>
                <button (click) = "supplierDetails(supplier.id)" class = "btn btn-info" style = "margin-left: 10px"> View </button>
            </td>
        </tr>
        <a routerLink="../addsupplier" routerLinkActive="active" class="nav-link">Add Supplier</a>
    </tbody>
</table>
