<h2>Products</h2>
<table class = "table table-success table-striped">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Category</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let product of products">
            <td>{{ product.productName }}</td>
            <td>{{ product.category }}</td>
            <td>
                <button (click) = "updateProduct(product.id)" class = "btn btn-info">Update</button>
                <button (click) = "deleteProduct(product.id)" class = "btn btn-danger" style = "margin-left: 10px"> Delete </button>
            </td>
        </tr>
    </tbody>
</table>
