<h3>View Supplier-Contact Details</h3>
<div>
    <div>
        <label> <b>First Name: </b> </label> {{supplierContact.firstName}}
    </div>
    <div>
        <label> <b>Last Name: </b> </label> {{supplierContact.lastName}}
    </div>
    <div>
        <label> <b>Phone: </b> </label> {{supplierContact.phone}}
    </div>
    <div>
        <label> <b>Email: </b> </label> {{supplierContact.email}}
    </div>
    <div>
        <label> <b>Department: </b> </label> {{supplierContact.department}}
    </div>
</div>